<style>
    .k-edit-form-container {
        width: 520px !important;
    }

    #card > .k-input {
        width: 100% !important;
    }

    .k-grid tbody .k-button {
        min-width: 0 !important;
    }
</style>

<div class="well well-sm">
    <label>Созданы с:</label><input id="dateFrom" class="data-picker" />
    <label>по:</label><input id="dateTo" class="data-picker" />
</div>

<div id="gridBooks"></div>

@section Scripts
    {
    <script type="text/x-kendo-template" id="book-editor-cover">
    </script>
    <script type="text/x-kendo-template" id="book-editor-form">
        <div>
            <div class="k-edit-form-container" id="card">
                <div class="k-edit-label">
                    <label for="Header">Заголовок</label>
                </div>
                <div data-container-for="Header" class="k-edit-field">
                    <textarea type="text" style="width:100%;max-width:330px" class="k-input k-textbox" name="Header" id="Header" required="required" validationmessage="Поле обязательное для заполнения" data-bind="value:Header"></textarea>
                </div>
                <div class="k-edit-label">
                    <label for="Header">Авторы</label>
                </div>
                <div data-container-for="authorsGridMsg" class="k-edit-field">
                    <div id="authorsGrid"></div>
                    <input class="k-input k-textbox" data-bind="value:AuctorsShort" style="display:none" name="authorsGridMsg" id="authorsGridMsg" />
                </div>
                <div class="k-edit-label">
                    <label for="PageCount">Количество страниц</label>
                </div>
                <div data-container-for="PageCount" class="k-edit-field">
                    <input type="text" style="width:100%" class="k-input" name="PageCount" id="PageCount" data-role="numerictextbox" data-bind="value:PageCount" required data-min="1" data-max="10000" validationmessage="Введите значение от 0 до 10000" />
                </div>
                <div class="k-edit-label">
                    <label for="PublishingOffice">Издательство</label>
                </div>
                <div data-container-for="PublishingOffice" class="k-edit-field">
                    <textarea type="text" style="width:100%;max-width:330px" class="k-input k-textbox" name="PublishingOffice" validationmessage="Поле обязательное для заполнения" data-bind="value:PublishingOffice"></textarea>
                </div>
                <div class="k-edit-label">
                    <label for="PublishYear">Год</label>
                </div>
                <div data-container-for="PublishYear" class="k-edit-field">
                    <input data-role="numerictextbox" style="width:100%" class="k-input" data-format="n0" data-bind="value:PublishYear" data-min="1800" data-max="#:new Date().getFullYear()#" />
                </div>
                <div class="k-edit-label">
                    <label for="ISBN">ISBN</label>
                </div>
                <div data-container-for="ISBN" class="k-edit-field">
                    <input type="text" style="width:100%;max-width:330px" data-role='maskedtextbox' class="k-input maskedtextbox" id="isbn" name="ISBN" data-mask="\\978-0-00-000000-0" data-bind="value:ISBN" data-validmask-msg="Не коректный ISNB " required="required" />
                    <span data-for='isbn' class='k-invalid-msg'></span>
                </div>
            </div>
        </div>
    </script>
    <script>
        var bookUrl = "@Url.Action("Books", "api")"
        var authorUrl="@Url.Action("Authors", "api")"

    </script>
    <script src="~/Scripts/App/bookEditorHelp.js"></script>
    <script src="~/Scripts/App/authorTable.js"></script>
    <script src="~/Scripts/App/main.js"></script>

}
</div>
